* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 400;
}

button {
  border: none;
}

.active {
  color: #019985;
}
h1,
h2,
p {
  margin-bottom: 1rem;
}
h1 {
  font-size: 6vw;
}

h2 {
  font-weight: 700;
  font-size: 4vw;
}

h3 {
  font-weight: 500;
  font-size: 1.8vw;
}

p {
  font-size: 1.2rem;
}

@media screen and (max-width: 900px) {
  h1 {
    font-size: 12vw;
  }
  h2 {
    font-size: 8vw;
  }
  h3 {
    font-size: 6vw;
  }
  p {
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 1700px) {
  h2 {
    font-size: 5rem;
  }
  h3 {
    font-size: 1.5rem;
  }
}
